@media only screen and (max-width: 766px) {
  .collapsing,
  .in
  {
    background-color: #97a9ad;
  }
  .collapsing ul li a,
  .in ul li a
  {
    color: #333!important;
  }
  .collapsing ul li a:hover,
  .in ul li a:hover
  {
    color: #f1f1f1!important;
  }
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse
  {
    margin: 0;
  }
  .navbar-inverse > .container,
  .container-fluid
  {
    padding: 0;
  }
  .navbar-collapse
  {
    background: transparent;
  }
  .navbar-nav
  {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .navbar-nav li
  {
    display: inline-block;
  }
  .navbar-left a
  {
    font-size: 1em;
  }
}

@media only screen and (max-width: 342px) {
  .navbar-brand
  {
    font-size: 2.5em;
  }
  .navbar-collapse
  {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .billboard
  {
    font-size: 5em;
  }
  .jumbotron
  {
    height: 88%;
  }
  .jumbotron p
  {
    font-size: 1.75em;
  }
}