html,
body
{
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
@font-face {
  font-family: 'mission script';
  src: url('../fonts/Mission-Script.otf');
}
h1, h2, h3, h4, h5, h6, p, input, textarea, ul, ol, li
{
  font-family: 'Wire One', sans-serif;
}
h1
{
  font-size: 5em;
}
h2
{
  font-size: 4em;
}
h3
{
  font-size: 3em;
}
h4, .skills li, .slash
{
  font-size: 2.5em;
}
h5
{
  font-size: 2em;
}
h6
{
  font-size: 1.5em;
}
p
{
  font-size: 1.75em;
}
input[placeholder], 
textarea[placeholder],
button
{
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.5em;
}
.btn-primary
{
  font-size: 1.25em;
}
textarea.form-control
{
  height: 8em;
  line-height: 1;
}
section
{
  height: 100%;
}
.col-centered{
float: none;
margin: 0 auto;
}

/* --- Navigation -- */
  .navbar-header
  {
    width: 100%;
  }
  .navbar-fixed-top
  {
    display: block;
  }
  #wrapp,
  #navit,
  .navbar-fixed-top,

  {
    transition: transform 0.3s ease 0s, height 0.2s linear 0s;
  }
  .navbar-fixed-top,.navbar-inverse,.navbar-collapse
  {
    background-color: #97a9ad;
  }
  .navbar-inverse .navbar-nav > li > a
  {
    font-size: 1.75em;
  }
  .navbar-inverse .navbar-brand,
  .navbar-inverse .navbar-nav > li > a
  {
    color: #fff;
    transition: all 0.5s ease;
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    background-color: auto;
  }
  .active
  {
    background-color: transparent;
  }
  .navbar-inverse .navbar-brand:hover,
  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-nav > li > a:focus,
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:focus,
  .navbar-inverse .navbar-nav > .active > a:hover
  {
    background-color: #444;
    transition: all 0.75s ease;
  }
  .navbar-inverse .navbar-brand
  {
    font-family: 'mission script', cursive;
    font-size: 3em;
/*
    padding: 20px;*/
  }
  .navbar-right li {
    display: inline-block;
    font-family: 'mission script', cursive;
    font-size: 1.5em;
  }
  .fa
  {
    font-size: 1.5em;
  }
  .fa-fw
  {
    width: 1em;
  }
  /* --- End Navigation -- */

/* -- Top Content -- */
  .top-content
  {/*
    background-color: #24475F;
    padding: 0;*/
    background-image: url('../images/mtn3.jpg');
    background-size: cover;
    overflow-y: hidden;
  }
    .land
    {
      color: #777;
      padding: 0;
      text-shadow: 1px 1px 0px #ccc;
    }
    /* Vertical Align Properties */
    .top-content,
    #about,
    #work,
    #team,
    .bottom
    {
      display: table;

      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;

      table-layout: fixed;
    }
    .land,
    #about .container-fluid,
    #work .container-fluid,
    #team .container-fluid
    {
      display: table-cell;
      width: 100%;

      text-align: center;
      vertical-align: middle;
    }
    .action-container
    {
      display: table;

      width: 100%;
      height: 25%;
      margin: 0;
      padding: 0;

      table-layout: fixed;
    }
    .action
    {
      display: table-cell;
      height: 25%;
      width: 100%;

      text-align: center;
      vertical-align: middle;
    }
    .contact-container
    {
      display: table;

      width: 100%;
      height: 75%;
      margin: 0;
      padding: 0;

      table-layout: fixed;
    }
    #contact
    {
      display: table-cell;
      height: 75%;
      width: 100%;

      text-align: center;
      vertical-align: middle;
    }
    /* End Vertical Align Properties */

/* -- End Top Content -- */

/* -- Top Difference -- */
  .difference
  {
    background-color: #3E5F74;
  }
  .difference .container
  {
    color: #fff;
  }
  /* -- End Difference -- */

/* - Featured Work - */
  .display
  {
    overflow: auto;
  }
  .display h3
  {
    margin-top: -20px;
  }
  .display h4
  {
    color: #4B7CA6;
  }
  .display img
  {
    width: 100%;
  }
  /* - End Featured Work - */

/* --- About  Me --- */
  .about
  {
    background-color: #97a9ad;
  }
    .me
    {
      width: 25%;
    }
    .about h3
    {
      padding: 0.5em 0 0 0;
    }
    .list-inline li
    {
      border: 0.25em solid transparent;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 1em;
      transition: all 0.5s ease;
    }
    .list-inline.skills
    {
      padding-left: 0;
      padding-right: 0;
    }
    .slash
    {
      border: 0.25em solid transparent;
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 5%;
    }
    .skills
    {
      display: inline-block;
    }
    .skills li
    {
      height: 100%;
      padding: 0;
    }
    .social a
    {
      color: #444;
      font-size: 1.5em;
      transition: all 0.5s ease;
    }
    .social li:hover
    {
      border-top: 0.25em solid #ddd;
    }
    .social li:hover a
    {
      color: #ddd;
    }
    .land .media li
    {
      padding: 0 0.5em;
    }
    .land .media a 
    {
      color: #777;
      font-size: 1em;
      text-shadow: 1px 1px 0px #ccc;
    }
    .land .media li:hover
    {
      background-color: #ccc;
      border-radius: 1px;
    }
    .land .media li:hover a
    {
      color: #333;
      text-shadow: none;
    }
    /* --- End About  Me --- */

/*-  Call To Action -*/
  .action
  {

  }
    /*-  End Call To Action -*/

/* ---- Contact ---- */
  .contact
  {
    background: rgb(115,115,115);
    background: rgba(115,115,115,0.4);
    height: auto;

  }
    /* ---- End Contact ---- */

/* ---- Footer ---- */
  footer
  {
    background-color: #666;
  }
  .bottom .container-fluid
  {
    padding: 0;
  }
  /* ---- End Footer ---- */