@media only screen and (max-width: 766px) {
  .collapsing,
  .in
  {
    background-color: #97a9ad;
  }
  .collapsing ul li a,
  .in ul li a
  {
    color: #333!important;
  }
  .collapsing ul li a:hover,
  .in ul li a:hover
  {
    color: #f1f1f1!important;
  }
  .container-fluid > .navbar-header,
  .container-fluid > .navbar-collapse
  {
    margin: 0;
  }
  .navbar-inverse > .container,
  .container-fluid
  {
    padding: 0;
  }
}
